{% extends 'base.html' %}
{% load static %}

{% block title %} TCS - Player Registration {% endblock %}

{% block body %}
<link rel="stylesheet" href="static/css/register.css" />
<h1>Team Cricketing Spirits</h1>

<div class="form-main-container">
    <div class="form-data-container">
        <div class="form-data">
            <form action="/player-registration" method="post">
                {% csrf_token %}
                <div class="form-headers">
                    <label for="name">Name</label>
                    <input class="form-input-field" type="text" name="name" id="name" required>
                </div>

                <div class="form-headers">
                    <label for="phone_no." name="phone_no">Your Phone No.</label>
                    <input class="form-input-field" type="number" name="phone_no" id="name" required>
                </div>

                <div class="form-headers">
                    <label for="whatsapp_no." name="whatsapp_no">Your Whatsapp No.</label>
                    <input class="form-input-field" type="number" name="whatsapp_no" id="name" required>
                </div>

                <!-- <div class="form-headers">
                    <label for="name">Role:</label>
                    <select class="form-input-field" name="roles" id="roles" required>
                        <option value="">--Please choose an option--</option>
                        <option value="batting" id="bat">Batting</option>
                        <option value="bowling" id="bowl">Bowling</option>
                    </select>
                </div> -->

                <div class="form-headers">
                    <label for="name">Role</label required>
                    <select class="form-input-field" name="role-info" id="role-info" required>
                        <option value="">--Please choose an option--</option>
                        <option value="LHB">Left Hand Bat</option>
                        <option value="LHB">Left Hand Bat Spin Bowl</option>
                        <option value="RHB">Left Hand Bat Fast Bowl</option>

                        <option value="RHB">Right Hand Bat</option>
                        <option value="RHB">Right Hand Bat Spin Bowl</option>
                        <option value="RHB">Right Hand Bat Fast Bowl</option>
                    </select>
                </div>
                <!-- <div class="form-headers">
                    <label for="name">Role-Info:</label required>
                    <select class="form-input-field" name="role-info" id="role-info" required>
                        <option value="">--Please choose an option--</option>
                        <option value="LHB">Left Hand Bating ( LHB )</option>
                        <option value="RHB">Right Hand Bating ( LHB )</option>
                    </select>
                </div> -->

                <!-- <div class="form-headers">
                    <label for="name">Wicket-Keeper:</label>
                    <select class="form-input-field" name="wk" id="wk" required>
                        <option value="">--Please choose an option--</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div> -->

                <div class="form-headers">
                    <label for="whatsapp_no." name="reference_person">How did you get to know about this league ?</label>
                    <input class="form-input-field" type="text" name="reference_person" id="name" required>
                </div>

                <div class="form-headers">
                    <label for="name">Are you available for the whole League ?</label>
                    <select class="form-input-field" name="availability" id="availability" required>
                        <option value="">--Please choose an option--</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <div class="register-btn">
                    <button class='btn-register' type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="static/js/register.js"></script>
{% endblock %}