* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    /* background: linear-gradient(270deg, #51E1ED 0%, #12B0E8 30%, #1B98F5 40%); */
    background-color: #242B2E;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    color: #3fe00e;
    overflow: hidden;
    /* background-color: #17efe1; */
    padding: 20px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.form-main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form-data-container {
    /* border: 2px solid red; */
    width: 850px;
    height: 800px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.form-data {
    /* background-color: #0bf15f; */
    height: 800px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-data form{
    /* background-color: rgb(84, 11, 240); */
    /* height: 600px; */
   
/*     
    width: 500px;
    height: 406px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}

.form-headers {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 10px;
}

.form-headers label {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
   
}

.form-input-field {
    border-radius: 5px;
    height: 50px;
    background-color: #7fafb2;
    border: 2px solid #000000;
}
input[type=text]
{
    width: 100%;
    font-size: 30px;
    padding: 12px;
}

input[type=number] {
    width: 100%;
    font-size: 30px;
    padding: 12px;
}

option {
    color: #000000;
    font-weight: 500;
}

.register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    text-align: center;
}

.btn-register {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 14px 80px;
    border-radius: 10px;
    border: 2px solid #97f107;
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 840px) {
    h1 {
        font-size: 50px;
        font-weight: 700;
    }
}

@media screen and (max-width: 410px) {
    h1 {
        font-size: 30px;
        font-weight: 700;
    }

    .form-data {
        width: 200px;
    }
    .navbar-toggler {
        display: none;
    }

    .navbar-brand img {
        width: 150px;
        padding:0;
    }

    .container-fluid .navbar-brand {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .register-btn {
        margin-top: 22px;
        /* padding: 14px 65px; */
    }

}

@media screen and (max-width: 240px) {
    h1 {
        font-size: 24px;
        font-weight: 700;
        padding: 5px 0 0 0;
    }

    .form-data {
        width: 20px;
    }
    .form-data-container {
         width: 10px;
    }

    .form-header {
        margin-top: -2px;
    }

    .form-headers label {
        font-size: 15px;
        font-weight: 700;
    }

    .register-btn {
        margin-top: 24px;
    }

    .navbar-toggler {
        display: none;
    }

    .navbar-brand img {
        width: 120px;
        padding:0;
    }

    .container-fluid .navbar-brand {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    input[type=text]
{
    width: 100%;
    font-size: 20px;
    padding: 12px;
}
}